<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Rand Spot, Rand!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
	<script src="js/main.js"></script>
</head>
<body>
	<div id='app'>
		<p>State: {{ state }}</p>
		<div id='loginButton' v-if='state === "logged-out"'>
			<p>Login button here</p>
			<a v-on:click='login' href='#'>Login!</a>
		</div>
		<div id='mainApp' v-if='state === "main"'>
			<p>Currently playing on {{ currentDevice }}</p>
			<ul>
				<li v-for='album in albums' :key='album.id'>{{ album.name }}</li>
			</ul>
		</div>
	</div>
</body>
</html>